{
    "apiPath":"https://api-eu.hosted.exlibrisgroup.com/almaws/v1",
    "apiKey":"",
    "proxy":"http://proxy.something:8080",
    "logTimestampFormat":"YYYY-MM-DDTHH:mm:ss",
    "maxLogAgeInDays":30,
    "logConfig":[
        {
            "level":"info",
            "type":"console",
            "format":"text"
        },
        {
            "level":"info",
            "type":"file",
            "format":"json",
            "rotate":true,
            "folder":"log",
            "extension":".log"
        }
    ],
    "pdfRetention":true,
    "maxPDFAgeInDays":30,
    "almaPrinterProfiles":[
        {
            "almaPrinter":"",
            "localPrinter":"\\\\print-server\\ALMA-Test-Printer",
            "orientation":"portrait",
            "color":"true",
            "letterFormat":"A4",
            "marginTop":"50",
            "copies":1
        },{
            "almaPrinter":"",
            "localPrinter":"\\\\print-server\\ALMA-Test-Printer",
            "orientation":"portrait",
            "color":"true",
            "letterFormat":"A4",
            "marginTop":"50",
            "copies":1
        }
    ]
}